 <div class="navbar">
      <div class="logo">
        <h1>Chat Workflow</h1>
      </div>
      <div class="paragraph">
        <p>
          Is something bothering you? Please feel free to reach out to iur
          leadership team<br />
          1.Griffin Templeton ? Email:Griffinboyd.T@eclerx.com<br />
          2.Shantwan Sathe ? Email:Shantwan.Sathe01@eclearx.com
        </p>
      </div>
      <div class="login">
 <% if(userId){ %>
          <h4> Id: <%= userId %> </h4>
                  <h4><a href="/logout">Logout</a></h4>
  <% } else{ %>
        <h4><a href="/login">Login</a></h4>
  <% } %>

      </div>
    </div>