*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  flex: 1;

  overflow-x: hidden;
 

}
:root {
  --mainColor: rgb(82, 82, 223);
  --hoverColor: rgb(110, 110, 248);
}